[Unit]
Description=mavlink udp proxy
Wants=multi-user.target
After=multi-user.target

[Service]
Type=simple 
ExecStart=/home/pi/src/mavlink-udp-proxy/mavlink_udp
Restart=always

[Install]
WantedBy=multi-user.target
